<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Khai báo để hệ thống config nhận diện phần tử entityFramework -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework"
             requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!-- Điều chỉnh Data Source / Initial Catalog theo môi trường của bạn -->
    <add name="MyConnectionString"
         connectionString="Data Source=DESKTOP-2HEK043;Initial Catalog=QLTrungTamTH;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
